@font-face
{
    font-family: 'Sarala', sans-serif;
}
@font-face
{
    font-family: 'Julius Sans One', sans-serif;
}

function put_scroll(aside)
{
    if(div.style.height > 400)
    div.style.overflow = "scroll";
}

h1, h3, p, q
{
	font-family: 'Sarala', sans-serif;
    color: #663333;
}

h1
{
	font-size: 75px;
	margin: 0px;
}

h2, ul
{
    font-family: 'Julius Sans One', sans-serif;
    margin: 0px;
}

#bloc_page
{
	width: 700px;
	position:absolute;
	top:0;
	left: 240px;
	margin: auto;
}

header
{
	position: absolute; z-index: 5;
	display: inline-block;
	position: fixed;
	text-shadow: 1px 1px black;
}

aside, header
{
	display: inline-block;
	vertical-align: top;
	text-align: justify;

}

aside
{
	display: block;
	position: absolute; z-index: 5;
	padding: 5px;
	position: fixed;
	top: 10px;
	left: 10;
	width: 230px;
}

scroll
{
	max-height:500px;
	overflow: auto;
}

#article
{
	display: inline-block; 
	position: relative;
	top: -280px;
	float: right;
	margin: 0;
}

#img1
{
	position: relative;
	top: 180px;
	left: 70px;
}

#img2
{
	position: relative;
	top: 210px;
	left: 70px;
}

#img3
{
	position: relative;
	top: 240px;
	left: 70px;
}

#img4
{
	position: relative;
	top: 270px;
	left: 70px;
}

bside
{
	position: fixed;
	top: 150px;
	right: 0;
	width: 230px;
	border: 5px;
	border: solid;
	border-color: #663333;
	background-color: white;
	padding: 10px;
    color: #000000;
}

#top
{
	position: absolute; z-index: 4;
	display: inline-block;
	vertical-align: top;
	position: fixed;
	top: 0;
	left: 0;
	height: 160px;
	width: 100%;
	background-color: #9933ff;
}



#citation
{
	background-color: #cc9999;
	padding: 5px;
}
